ul {
    width: 75%;
  }
body {
    background-color:rgb(216, 216, 216)
}
.percent {
  border-radius: 23px;
background: #dedede;
box-shadow:  26px 26px 52px #a4a4a4,
             -26px -26px 52px #ffffff;
    
  }
  background-image:linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
background:no-repeat center/80% url("http://pic.sc1.fun/i/2023/12/02/656b13b178de8.jpg");

  p {
    font-family: fantasy;
  }
                  
