<p class="hidden">{{ i18n "js_required" }}</p>
<p class="search-loading hidden">{{ i18n "search_loading" }}</p>

<form id="search-form" class="search-form" action="#" method="post" accept-charset="UTF-8" role="search">
  <div class="search-bar">
    <label for="query" class="hidden">{{ i18n "search" }}</label>
    <input id="query" class="search-text" type="text" placeholder="{{- i18n "search_placeholder" -}}"/>
  </div>
</form>

<div class="search-results"></div>

<template>
  <article class="search-result list-view">
    <header>
      <h2 class="title"><a href="#"></a></h2>
      <div class="submitted">
        <time class="created-date"></time>
      </div>
    </header>
    <p class="content"></p>
  </article>
</template>
