{{- define "main" -}}
  {{- .Content -}}
  {{- partial "home/greetings.html" -}}

  {{- $indexablePages := where site.RegularPages "Params.indexable" "ne" false -}}

  <div style="width:95%;margin:0 auto;">
    <div class="show-md" style="display:none;">
      {{- partial "search_bar" . -}}
    </div>

    {{- $featured := where $indexablePages "Params.featured" true -}}
    {{- if (and $featured site.Params.rtwt.home.showFeatured) -}}
        {{- partial "home/micro_list.html" (dict "items" $featured "title" (i18n "featured_posts")) -}}
    {{- end -}}
    
    {{- if and site.RegularPages site.Params.rtwt.home.showRecent -}}
      {{- $recent := cond site.Params.rtwt.home.hideRecentWhenFeatured (where $indexablePages "Params.featured" "!=" true) site.RegularPages -}}
        {{- partial "home/micro_list.html" (dict "items" $recent "title" (i18n "recent_posts")) -}}
    {{- end -}}
  </div>
{{- end -}}

{{- define "side" -}}
  <aside id="side-pane" class="{{- cond site.Params.rtwt.side.home.sidePaneSticky "side-sticky" "" -}}">
    {{- partial "side/home.html" . -}}
  </aside>
{{- end -}}
