/* component related classes */

.nav-left {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 50px;
  display: inline-block;
}

.nav-right {
  float: right;
  display: flex;
  height: 50px;
  align-items: center;
}

.nav-item {
  line-height: 35px;
  margin: 0 .5rem;
  font-size: 14px;
}

.footer {
  width: fit-content;
  margin: 0 auto;
  padding: .8rem 2rem 0;
  text-align: center;
  font-size: .7rem;
}

.footer-copyright {
  margin: .8rem;
  padding-top: .5rem;
  border-top: 1px var(--dim-color) solid;
}

.footer-copyright-small {
  font-size: .8rem;
}

.flat-list-item {
  padding: .5rem;
  border-top: 1px var(--dim-color) solid; 
}

.flat-list-item > div,
.list-group-heading {
  display: grid;
}

@media (min-width: 768px) {
  .flat-list-item > div, 
  .list-group-heading {
    grid-gap: 1em;
    grid-template-columns: 1fr auto;
  }
}

.flat-list-item > div > a, 
.list-group-heading > a {
  overflow-wrap: anywhere;
}

.flat-list-item > small {
  overflow: hidden;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.flat-list-item > small > p {
  font-family: var(--font-family-summary);
  font-weight: var(--font-weight-summary);
  margin: .25rem 0;
}

.list-group-key {
  text-align: right;
  padding-bottom: .5rem;
  border-bottom: 1px var(--dim-color) solid;
}

.list-group-heading {
  margin-top: 1rem;
}

.list-group-heading > a {
  font-size: 1.1rem;
}

.list-group-summary {
  font-family: var(--font-family-summary);
  font-weight: var(--font-weight-summary);
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.pagination {
  padding-left: 0;
  width: fit-content;
  margin: 2rem auto;
}

.pagination > li {
  display: inline;
  margin: .2rem;
}

.pagination > li:not(.disabled) > a {
  text-decoration: underline;
}

.pagination > li.active > a {
  color: var(--body-text-color);
}

.single-header > h1 {
  margin: .5rem 0 0;
}

.search-bar {
  display: flex;
  background-color: var(--dim-color);
  border-radius: .4rem;
  padding: .6rem;
  margin: .6rem 0 0 0;
}

.search-bar > input {
  flex-grow: 1;
  margin: 0 .5rem;
  color: var(--body-text-color);
  border: none;
  background-color: transparent;
}

.search-bar > input:focus {
  outline: none;
}

.side-content {
  border-bottom: 1px var(--dim-color) solid;
  font-size: .8rem;
}

.side-content > p {
  font-family: var(--font-family-content);
  font-weight: var(--font-weight-content);
}

.side-content-image {
  max-width: 100%;
  height: auto;
}

.side-details {
  display: grid;
  border-bottom: 1px var(--dim-color) solid;
  padding: 1rem 0;
}

.side-details-taxonomy {
  margin-top: .5rem;
  line-height: 1rem;
}

.taxonomy-list { 
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.details-taxonomy + .details-taxonomy:before {
  content: ", "; 
}

.breadcrumbs {
  font-size: 14px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.breadcrumbs > li {
  display: inline-block;
}

.term-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.tag {
  margin-top: .4rem;
  margin-right: .4rem;
  padding: 0 .6rem;
  border: 1px var(--dim-color) solid;
  border-radius: 15px;
}

.search-result {
  border-top: 1px var(--dim-color) solid;
}
