{{- with .section }}
  {{- $section := . -}}
  {{- $data := index site.Data.rtwt.content.side $section -}}
  {{- range $data -}}
    <div class="side-content">
      <h3>{{- .title -}}</h3>
      {{- if .imagePath -}}
        {{- if .imageHref -}}
          <a href="{{- .imageHref -}}" target="_blank" rel="noopener noreferrer">
            <img class="side-content-image" src="{{- .imagePath -}}" width="{{- default "80%" .imageWidth -}}" />
          </a>
        {{- else -}}
          <img class="side-content-image" src="{{- .imagePath -}}" width="{{- default "80%" .imageWidth -}}" />
        {{- end -}}
      {{- end -}}
      <p>{{- markdownify .content -}}</p>
    </div>
  {{- end -}}
{{- end }}