{{- partial "search_bar.html" -}}

{{ partial "components/side_content.html" (dict "section" "home") }}

{{- range $filter := site.Params.rtwt.side.home.taxonomies -}}
  {{- with (index site.Taxonomies $filter) -}}
    {{ $i18nTaxonomy := printf "taxonomies.%s" $filter }} 
    <h3>{{- i18n $i18nTaxonomy | default $filter | title -}}</h3>
    <ul class="taxonomy-list">
    {{- $limit := site.Params.rtwt.side.home.countTaxonomy }}
    {{- $i := $limit -}}

    {{/* For some reason, using "range first N COLLECTION" doesn't work here */}}
    {{- range (sort . ".Count" "desc") -}}
      {{ $i = sub $i 1 }}
      {{- if lt $i 0 -}}{{- break -}}{{- end -}}
      <li>
    <a class="tag" href="{{- .Page.Permalink -}}">
      #{{- .Page.Title | lower -}}&nbsp<span class="text-sm dim">{{ .Count }}</span>
    </a>
      </li>
    {{- end -}}
      {{- if (gt (len .) $limit) -}}
      <li>
        <a href="{{- absURL $filter -}}">{{- i18n "see_all" -}}</a>
      </li>
      {{- end -}}
    </ul>
  {{- end -}}
{{- end -}}
