{{- $baseURL := .Site.BaseURL -}}

{{ partial "components/side_content.html" (dict "section" "single") }}

{{- if site.Params.rtwt.side.single.showDetails -}}
  <div class="side-details">
    <span>{{- .WordCount }} {{ i18n "details_words" -}}</span>
    <span>{{- div (len .RawContent) 1096 }} - {{ div (len .RawContent) 860 }} {{ i18n "details_read_time" -}}</span>
    {{- range $k, $v := site.Taxonomies -}}
      {{- if (and (ne $k "tags") (index page.Params $k)) -}}
      <div class="side-details-taxonomy">
        <small>
          {{ $i18nTaxonomy := printf "taxonomies.%s" $k }}
          {{- i18n $i18nTaxonomy | default $k -}}:
          {{ range (index page.Params $k) -}}
      <span class="details-taxonomy"><a href="{{- absURL (printf "%s/%s" ($k | urlize) (. | urlize)) -}}">{{- . -}}</a></span>
          {{- end -}}
        </small>
      </div>
      {{- end -}}
    {{- end -}}
  </div>
{{- end -}}

{{- $hasToc := (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") -}}
{{- if (and site.Params.rtwt.side.single.showTableOfContents $hasToc) -}}
  <h3>{{- i18n "side_table_of_contents" -}}</h3>
  {{- .TableOfContents -}}
{{- end -}}

{{- if (and .Resources site.Params.rtwt.side.single.showAttachments) -}}
    <h3>{{- i18n "side_attachments" -}}</h3>
    <ul>
    {{- range .Resources -}}
      <li><a href="{{- .Permalink -}}">{{- .Title -}}</a></li>
    {{- end -}}
    </ul>
{{- end -}}

{{- if site.Params.rtwt.side.single.showRelated -}}
  {{- $related := .Site.RegularPages.Related . | first site.Params.rtwt.side.single.countRelated -}}
  {{- if $related -}}
    <h3>{{- i18n "side_related" -}}</h3>
    <ul>
    {{- range $related -}}
      <li><a href="{{- .RelPermalink -}}">{{- .Title -}}</a></li>
    {{- end -}}
    </ul>
  {{- end -}}
{{- end -}}
